:root {
  --main-color: #34495E;
  --main-color-lighten: #4d6d8c;
  --second-color: #41B883;
  --alter-color: #000000;
}

body {
  background: #fffcfb;
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--alter-color);
}
