@import "./base.css";
@import "./normalize.css";

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 0px;
}

#app > section {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

body{
  min-height: 100vh;
  width: calc(100vw - (100vw - 100%));
}

header {
  width: 100%;
}

aside {
  flex-grow: 0;
  align-self: flex-start;
  padding: 16px;
}

main {
  flex-grow: 1;
  padding: 16px;
  align-self: stretch;
}

.center-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-select {
  user-select: none;
}
